# NEXT_PUBLIC_APP_URL
NEXT_PUBLIC_APP_URL=<your-app-url>

# NEXTAUTH_SECRET
NEXTAUTH_SECRET=<your-nextauth-secret>

# GOOGLE OAUTH
GOOGLE_CLIENT_ID=<your-google-client-id>
GOOGLE_CLIENT_SECRET=<your-google-client-secret>

# MONGODB
MONGODB_URI=<your-mongodb-uri>
MONGODB_DB=<your-mongodb-db>

# AWS
AWS_ACCESS_KEY_ID=<your-aws-access-key-id>
AWS_SECRET_ACCESS_KEY=<your-aws-secret-access-key>
AWS_REGION=<your-aws-region>

S3_BUCKET_NAME=<your-s3-bucket-name>

# DATA SCRAPING BACKEND URL
DATA_SCRAPING_BACKEND_URL=<your-data-scraping-backend-url>

# AI BACKEND URL
AI_BACKEND_URL=<your-ai-backend-url>

# NVIDIA API KEY
NVIDIA_API_KEY=<your-nvidia-api-key>

